In [10]:
#Import the dependencies
import pandas as pd
import gmaps
import requests

#Import the API key
from config import g_key

In [11]:
#Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-05-24 20:55:51,42.0970,-79.2353,292.95,52,100,3.09
1,1,Staryy Nadym,RU,2022-05-24 20:56:10,65.6118,72.6842,279.73,77,8,3.26
2,2,Hamilton,US,2022-05-24 20:55:45,39.1834,-84.5333,298.57,58,77,1.79
3,3,Muyezerskiy,RU,2022-05-24 20:56:11,63.9333,31.6500,275.53,79,0,2.12
4,4,Dhone,IN,2022-05-24 20:56:12,15.4167,77.8833,302.18,61,23,7.32

In [12]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [14]:
#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature
max_temp = city_data_df["Max Temp"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 275
What is the maximum temperature you would like for your trip? 280

In [20]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Staryy Nadym,RU,2022-05-24 20:56:10,65.6118,72.6842,279.73,77,8,3.26
3,3,Muyezerskiy,RU,2022-05-24 20:56:11,63.9333,31.6500,275.53,79,0,2.12
16,16,Ushuaia,AR,2022-05-24 20:56:17,-54.8000,-68.3000,275.96,65,20,12.86
32,32,Torbay,CA,2022-05-24 20:56:25,47.6666,-52.7314,279.97,72,20,9.39
41,41,Longyearbyen,SJ,2022-05-24 20:56:29,78.2186,15.6401,278.06,70,20,8.23
113,113,Punta Arenas,CL,2022-05-24 20:59:03,-53.1500,-70.9167,277.21,65,20,8.23
124,124,Macusani,PE,2022-05-24 20:59:09,-14.0833,-70.4333,279.93,57,31,2.26
132,132,Narsaq,GL,2022-05-24 21:00:13,60.9167,-46.0500,279.27,45,1,6.91
136,136,Olafsvik,IS,2022-05-24 21:00:18,64.8945,-23.7142,279.39,87,100,2.04
137,137,Qaqortoq,GL,2022-05-24 21:00:20,60.7167,-46.0333,275.95,47,0,14.49

In [21]:
preferred_cities_df.count()

City_ID       27
City          27
Country       27
Date          27
Lat           27
Lng           27
Max Temp      27
Humidity      27
Cloudiness    27
Wind Speed    27
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat      Lng Hotel Name
1    Staryy Nadym      RU    279.73  65.6118  72.6842
3     Muyezerskiy      RU    275.53  63.9333  31.6500
16        Ushuaia      AR    275.96 -54.8000 -68.3000
32         Torbay      CA    279.97  47.6666 -52.7314
41   Longyearbyen      SJ    278.06  78.2186  15.6401
113  Punta Arenas      CL    277.21 -53.1500 -70.9167
124      Macusani      PE    279.93 -14.0833 -70.4333
132        Narsaq      GL    279.27  60.9167 -46.0500
136      Olafsvik      IS    279.39  64.8945 -23.7142
137      Qaqortoq      GL    275.95  60.7167 -46.0333

In [23]:
#Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    #Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    #Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Staryy Nadym,RU,279.73,65.6118,72.6842,
3,Muyezerskiy,RU,275.53,63.9333,31.6500,"Gostinitsa Ooo ""Lzkh ""Ledmozerskoye"""
16,Ushuaia,AR,275.96,-54.8000,-68.3000,Albatross Hotel
32,Torbay,CA,279.97,47.6666,-52.7314,Gallows Cove
41,Longyearbyen,SJ,278.06,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
113,Punta Arenas,CL,277.21,-53.1500,-70.9167,Hotel Hain
124,Macusani,PE,279.93,-14.0833,-70.4333,"Hospedaje ""Arca de Noe"""
132,Narsaq,GL,279.27,60.9167,-46.0500,Sleep In Narsaq
136,Olafsvik,IS,279.39,64.8945,-23.7142,Hotel Olafsvik
137,Qaqortoq,GL,275.95,60.7167,-46.0333,Siniffik Inn

In [29]:
#Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
#Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))